body {
	font-size:3em;
}
#hender {
	text-align:right;
	height:30%;
	background-color:#00ff00;
}
#footer {
	text-align:right;
	height:30%;
	background-color:#00ff00;
}

.link{
	cursor:pointer;
	text-decoration:none;
	color: #0000ff;
}