<script>
var flowArr = new Array();
var planArr = new Array();
$(window).ready(function(){
	$('#PlanEditMain').hide();
	$('#PlanEditSub').hide();
	defSetPlan();
	defSetFlow();
	$("#s_date, #e_date").datepicker(datepickerDef).on("keydown", function (e) {
		if (e.which == 27)
			$(this).val('All');
	});
	$("#PlanAddDate").datepicker(datepickerDef).on("keydown", function (e) {
		if (e.which == 27)
			$(this).val('');
	});
	$('#PlanAddList').on('change',function(){;
		if($(this).val() != '')
			editPlan($(this).val());
		else
			clearPlanEdit();
	});
	$("#PlanSet").on("click", function () {
		var re = new Array();
		for(var i = 0; i < flowArr.length; i++){
			var tmp = false;
			if($('#s_date').val() != 'All' && $('#e_date').val() != 'All'){
				if($('#s_date').val() <= flowArr[i].date && $('#e_date').val() >= flowArr[i].date)
					tmp = true;
			}
			
			if($('#s_date').val() == 'All' && $('#e_date').val() != 'All'){
				if($('#e_date').val() >= flowArr[i].date)
					tmp = true;
			}
			
			if($('#s_date').val() != 'All' && $('#e_date').val() == 'All'){
				if($('#s_date').val() <= flowArr[i].date)
					tmp = true;
			}
			
			if($('#s_date').val() == 'All' && $('#e_date').val() == 'All')
				re = flowArr;
			if(tmp)
				re[re.length] = flowArr[i];
		}
		getPlan(re);
	});
	$('#PlanAdd').on('click',function(){
		$('#PlanEditMain').show();
	});
	$('#PlanClose').on('click',function(){
		clearPlan();
	});
	$('#PlanEditAdd').on('click',function(){
		$('#PlanAddList').val('');
		$('#PlanEditMain input').val('');
		$('#PlanEditSub').show();
	});
	$('#PlanSubmit').on('click', function(){
		if($('#PlanAddDate').val() != '' && $('#PlanAddDate').val() != ''){
			var tmp = true;
			if($('#PlanAddSeq').val() == ''){
				for(var i = 0; i < planArr.length; i++){
					if($('#PlanAddDate').val() == planArr[i].date)
						tmp = false;
				}
			}
			if(tmp){
				$.post('<?php echo $_SESSION['SiteUrl']; ?>cgi/plan/PlanAdd',
					{
						'PlanAddSeq':$('#PlanAddSeq').val(),
						'PlanAddDate':$('#PlanAddDate').val(),
						'PlanAddEarnings':$('#PlanAddEarnings').val()
					},function(){
						defSetFlow();
						defSetPlan();
						clearPlan();
					}
				);
			}else
				alert('error');
		}else{
			alert('error');
		}
	});
});
function clearPlan(){
	clearPlanEdit();
	$('#PlanEditMain').hide();
}
function clearPlanEdit(){
	$('#PlanAddList').val('');
	$('#PlanEditMain input').val('');
	$('#PlanEditSub').hide();
}
function editPlan(id){
	for(var i =0; i < planArr.length; i++){
		if(planArr[i].seq == id){
			$('#PlanAddSeq').val(id);
			$('#PlanAddDate').val(planArr[i].date);
			$('#PlanAddEarnings').val(planArr[i].earnings);
			$('#PlanEditSub').show();
		}
	}
}

function defSetFlow(){
	$.post('<?php echo $_SESSION['SiteUrl']; ?>cgi/plan/GetFlow',function(e){
		flowArr = e;
		getFlow(flowArr);
	},'json');
}
function getFlow(arr){
	tabledata = '';
	for(var i = 0; i < arr.length; i ++){
		var color = " style = 'color:#0000ff;'";
		if(arr[i].de != '' || (arr[i].earnings+arr[i].count) < 0)
			color = " style = 'color:#ff0000;'";
		tabledata += '<tr'+color+'><td>'+arr[i].date+'</td><td>'+arr[i].add+'</td><td>'+arr[i].de+'</td><td>'+arr[i].earnings+'</td><td>'+arr[i].count+'</td></tr>';
	}
	$('#PlanMain').html("<table id ='PlanTable'><thead><tr><td>date</td><td>add</td><td>de</td><td>earnings</td><td>count</td></tr></thead><tbody>"+tabledata+'</tbody></table>');
	$("#PlanTable").dataTable(dataTableDef);
}

function defSetPlan(){
	$.post('<?php echo $_SESSION['SiteUrl']; ?>cgi/plan/GetPlan',function(e){
		planArr = e;
		setPlan(planArr);
	},'json');
}
function setPlan(obj){
	$('#PlanAddList').html("<option value =''></option>");
	for(var i = 0; i < obj.length; i++){
		var tmp = true;
		for(var j = 0; j < $('#PlanAddList option').length; j++){
			if(obj[i].seq == $('#PlanAddList option')[0].value)
				tmp = false;
		}
		if(tmp){
			$('#PlanAddList').append("<option value = '"+obj[i].seq+"'>"+obj[i].date+"</option>");
		}
	}
}
</script>
<span class = 'Lang_StartDate'></span><input type = 'text' id = 's_date' value = 'All' />
<span class = 'Lang_EndDate'></span><input type = 'text' id = 'e_date' value = 'All' />
[<span class='link' id = 'PlanSet'><span>Set</span></span>]
[<span class='link' id = 'PlanAdd'><span>Add/Edit</span></span>]
<div id = 'PlanEditMain' style = 'position: absolute;top: 20%;left: 35%;width: 30%;z-index: 3000;background-color: #efefef;text-align:center;'>
	<div>
		<select id = 'PlanAddList'></select>
		[<span class='link' id = 'PlanEditAdd'><span>Add</span></span>]
	</div>
	<div id = 'PlanEditSub' style = 'text-align:left;width:98%;margin:1%;text-align:center;'>
		<input type = 'hidden' id = 'PlanAddSeq' />
		<input type = 'text' id = 'PlanAddDate' />
		<input type = 'number' id = 'PlanAddEarnings' />
	</div>
	[<span class = 'link' id = 'PlanSubmit'>Submit</span>]
	[<span class = 'link' id = 'PlanClose'>Close</span>]
</div>
<div id = 'PlanMain'>
</div>