<span class = 'Lang_account'></span><input type ="text" id = 'acc' />
<span class = 'Lang_password'></span><input type ='password' id ='pswd' /><br />
<span class = 'Lang_captcha'></span><br />
<img id = 'captchaImg' src = '<?php echo $_SESSION['SiteUrl']; ?>cgi/captcha/ImgPut' />
<input type ='text' id = 'captcha' />
[<span id = 'ReLoadCapthcha' class='link' onclick=""><span class = 'Lang_ReLoadCapthcha'></span></span>]
[<span class='link' onclick="userck()"><span class = 'Lang_login'></span></span>]

<script>
	$(window).ready(function(){
		$('#acc, #pswd').on("keydown", function (e) {
			//-- 13 > Enter鍵 || 9 > Tab鍵
			if (e.which == 13)
				userck();
		});
		$('#ReLoadCapthcha').on('click',function(){
			document.getElementById('captchaImg').setAttribute('src','<?php echo $_SESSION['SiteUrl']; ?>cgi/captcha/ImgPut?'+Math.random());document.getElementById('captchaImg').value='';
			$('#captcha').val('');
		});
	});
	function userck(){
		if($('#acc').val() != '' && $('#pswd').val() != ''){
			$.post('<?php echo $_SESSION['SiteUrl']; ?>cgi/captcha/ImgCheck',{'captcha':$('#captcha').val()},function(e){
				if(e == 1){
					$.post('<?php echo $_SESSION['SiteUrl']; ?>cgi/login/UserCk',{'account': $('#acc').val(),'pswd': $('#pswd').val()},
						function(e){
							if(e==1){
								document.location.href='<?php echo $_SESSION['SiteUrl']; ?>index';
							}else{
								alert(alert_sub.Login.StError);
							}
						});
				}else{
					alert(alert_sub.Login.CaptchaNull);
				}
			});
		}else{
			alert(alert_sub.Login.StNull);
		}
		//alert('1');
	}
</script>