<span class = 'Lang_StartDate'></span><input type = 'text' id = 's_date' value = 'All' />
<span class = 'Lang_EndDate'></span><input type = 'text' id = 'e_date' value = 'All' />
[<span class='link' id = 'FlowSet'><span>Set</span></span>]
[<span class='link' id = 'FlowAdd'><span>Add</span></span>]
<div id = 'UrlEditDiv' style = 'position: absolute;top: 20%;left: 35%;width: 30%;z-index: 3000;background-color: #efefef;text-align:center;'>
	<div id = 'UrlSet' style = 'text-align:left;width:98%;margin:1%;text-align:center;'>
		<input type = 'text' id = 'FlowAddDate' />
		<select id = 'FlowAddType'>
			<option value = '+'>+</option>
			<option value = '-'>-</option>
		</select>
		<input type = 'number' id = 'FlowAddAmount' />
		<input type = 'text' id = 'FlowAddNote' />
	</div>
	[<span class = 'link' id = 'UrlSubmit'>Submit</span>]
	[<span class = 'link' id = 'UrlClose'>Close</span>]
</div>
<div id = 'FlowMain'>
</div>
<script>
$(window).ready(function(){
	$('#UrlEditDiv').hide();
	$('#FlowAdd').on('click',function(){
		$('#UrlEditDiv').show();
	});
	$('#UrlSubmit').on('click',function(){
		if($('#FlowAddDate').val() != '' && $('#FlowAddAmount').val() != '' && !isNaN($('#FlowAddAmount').val())){
			$.post('<?php echo $_SESSION['SiteUrl'];?>cgi/flow/AddFlow',
				{
					'FlowAddDate':$('#FlowAddDate').val(),
					'FlowAddType':$('#FlowAddType').val(),
					'FlowAddAmount':$('#FlowAddAmount').val(),
					'FlowAddNote':$('#FlowAddNote').val(),
				},
				function(){
					$('#FlowAddDate').val('');
					$('#FlowAddType').val('+');
					$('#FlowAddAmount').val('');
					$('#FlowAddNote').val('');
					$('#UrlEditDiv').hide();
					getFlow();
				}
			);
		}else
			alert('error');
	});
	$('#UrlClose').on('click',function(){
		$('#FlowAddDate').val('');
		$('#FlowAddType').val('+');
		$('#FlowAddAmount').val('');
		$('#FlowAddNote').val('');
		$('#UrlEditDiv').hide();
	});
	$("#FlowAddDate").datepicker(datepickerDef).on("keydown", function (e) {
		if (e.which == 27)
			$(this).val('');
	});
	$("#s_date, #e_date").datepicker(datepickerDef).on("keydown", function (e) {
		if (e.which == 27)
			$(this).val('All');
	});
	getFlow();
	$('#FlowSet').on('click',function(){
		getFlow();
	});
	$('#FlowAdd').on('click',function(){
		
	});
});
function getFlow(){
	$.post('<?php echo $_SESSION['SiteUrl'];?>cgi/flow/GetFlow',
		{'s_date':$('#s_date').val(),'e_date':$('#e_date').val()},
		function(e){
			var tmp = '';
			for(var i = 0; i < e.length; i ++){
				var color = " style = 'color:#0000ff;'";
				if(e[i].type == '-')
					color = " style = 'color:#ff0000;'";
				tmp += '<tr '+color+'><td>'+e[i].in_date+'</td><td>'+e[i].type+'</td><td>'+e[i].user_id+'</td><td>'+e[i].amount+'</td><td>'+e[i].note+'</td></tr>';
			}
			$('#FlowMain').html("<table id ='FlowTable'><thead><tr><td>in_date</td><td>type</td><td>user_id</td><td>amount</td><td>note</td></tr></thead><tbody>"+tmp+'</tbody></table></div>');
			$("#FlowTable").dataTable(dataTableDef);
		},
		'json'
	);
}
</script>