<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width; initial-scale=1.0" name="viewport"/>
	<title><?php echo $_SESSION['SiteName']; ?></title>
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/Jquery"></script>
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/LibJs"></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/base.css" rel="stylesheet">
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/Lang"></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/JqueryUI/jquery-ui.css" rel="stylesheet">
	<script src = '<?php echo $_SESSION['SiteUrl'];?>js/JqueryUI'></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/DataTables/jquery.dataTables.css" rel="stylesheet">
	<script src = '<?php echo $_SESSION['SiteUrl'];?>js/JqueryDataTables'></script>
</head>
	<body>
		<div id = 'BodyForm'>
			<div id = 'hender'>
<?php
	if(file_exists('lib/Config.php')){
?>
				[<span id = 'goIndex' class = 'link'><span class = 'Lang_goIndex'></span></span>]
<?php
		if(!isset($_SESSION['UserId'])){
			echo "\t\t\t\t[<span id = 'login' class = 'link'><span class = 'Lang_login'></span></span>]\n";
		}else{
			echo "\t\t\t\t[<span id = 'flow' class = 'link'><span class = 'Lang_flow'></span></span>]\n";
			echo "\t\t\t\t[<span id = 'plan' class = 'link'><span class = 'Lang_plan'></span></span>]\n";
			echo "\t\t\t\t[<span id = 'logout' class = 'link'><span class = 'Lang_logout'></span></span>]\n";
		}
	}else{
		echo "<div style='text-align:center'><span class = 'Lang_InstallInfo'></span></div>";
	}
?>
		</div>
		<div id = 'BodyMain'>